$color-primary: #A7C957;
$color-secondary: #BC4749;

$color-body: #131B15;
$color-shade: #F2E8CF;

$color-green: #386641;
$color-green-shade: #6A994E;

$color-white: #ffffff;
$color-background:#FBFAF8;
$color-background-sec: rgba(242, 232, 207, 0.3);