.btn{
    padding: 1.6rem;
    @include border-radius;
    border: none;
    @include bodycopy-semi-bold;
}

.btn-text{
    @include bodycopy-semi-bold; 
    outline: none;
}

.btn-text:hover{
    color: $color-green;
}

.btn-primary{
    color: $color-white !important;
    background: $color-green !important;
    @include border-radius;
}

.btn-primary:hover{
    background: rgba($color-green, .8);
}

.bt-secondary{
    background: $color-green-shade;
    color: $color-white !important;
}

.bt-secondary:hover{
    background: rgba($color-green-shade, .8);
    border: none;
}

.bt-secondary-light {
    background: rgba($color-green-shade, 0.2);
    color: $color-green !important;
}

.bt-secondary-light:hover{
    background: $color-green-shade;
    color: $color-white !important;
}