.form-section{
    display: flex;
    grid-gap: 4.6rem;
    margin-top: 4rem;

    .general-form{
        .location-setting{
            
            form{
                .preference-container{
                    grid-gap: 3.2rem;

                    &__hour{

                        margin-top: 0;
                    }
                }

                
            }
        }
        .location-setting div:not(:first-child) {
            margin-left: 0;
        }
    }
}


@media only screen and (max-width:768px) {
    .form-section{
        flex-direction: column;
    }
}